<div class="container my-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="card-title text-center mb-4">Forgot Password</h1>
        
        <!-- Success Alert -->
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
          {{ successMessage }}
        </div>
        
        <!-- Error Alert -->
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
  
        <!-- Loader -->
        <div *ngIf="isLoading" class="small-loader text-center">
          <img src="../../assets/blacklogosvg.svg" alt="Loading..." class="preloader-animation">
        </div>
        
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="isLoading">Send Reset Link</button>
        </form>
      </div>
    </div>
  </div>
  